1. Write a program to produce the following output using for loop
+----+ \ / / \ \ / / \ \ / / \ +----+

In [1]:
for x in range(5):
    if x == 0 or x == 4:
        print("+----+")
    else:
        print("\\ /")
        print("/ \\")

+----+
\ /
/ \
\ /
/ \
\ /
/ \
+----+

2. Write a program to produce the following output using for loop

In [8]:
for i in range(5):
    print("**********")

**********
**********
**********
**********
**********

3. Complete the code for the following for loop:
for in range(1,7):
//your code here
so that it prints the following numbers, one per line:
a) 1 b) 2 c) 4 d) 30 e) -7 f) 97 g) -4
2 4 19 20 -3 94 14
3 6 34 10 1 91 32
4 8 49 0 5 88 50
5 10 64 -10 9 85 68
6 12 79 -20 13 82 86

In [10]:
for i in range(1, 7):
    a = i * 1
    b = i * 2
    c = i * 7 - 3
    d = i * 10 - 20
    e = i * 2 + 3
    f = i * 91 + 6
    g = i * 14 + 14

    print(f"{a} {b} {c} {d} {e} {f} {g}")

1 2 4 -10 5 97 28
2 4 11 0 7 188 42
3 6 18 10 9 279 56
4 8 25 20 11 370 70
5 10 32 30 13 461 84
6 12 39 40 15 552 98

4. Write a program to produce the following output using for loops. Then
use a class constant to make it possible to change the number of lines in
the figure.

In [12]:
class NumberTriangle:
    NUM_LINES = 7

    def draw_triangle(self):
        for i in range(1, self.NUM_LINES + 1):
            pattern = str(i) * i
            print(pattern)

triangle_instance = NumberTriangle()

triangle_instance.draw_triangle()

1
22
333
4444
55555
666666
7777777

5.

In [13]:
def pay(salary_per_hour, hours_worked):
    normaltime_hours = min(hours_worked, 8)
    overtime_hours = max(hours_worked - 8, 0)
    
    normaltime_pay = normaltime_hours * salary_per_hour
    overtime_pay = overtime_hours * (1.5 * salary_per_hour)

    total_pay = normaltime_pay + overtime_pay
    return total_pay

salary_per_hour = 5.50
hours_worked = 6
result = pay(salary_per_hour, hours_worked)
print(result) 

hours_worked_overtime = 11
result_overtime = pay(4.00, hours_worked_overtime)
print(result_overtime)

33.0
50.0

6. Write a similar method named area that takes as a parameter the radius of
a circle and that returns the area of the circle. For example, the call
area(2.0);

In [19]:
import math

radius = 2.0
area = math.pi * radius**2

print(area)

12.566370614359172

In [28]:
low = 1
high = 1001
sum = 0
for i in range(low,high):
    sum += i
print("sum = " , sum)

sum?
low?
high?

sum =  500500

In [ ]:
low = 300
high = 5298
sum = 13986903
for i in range(low,high):
    sum += i
print("sum = " , sum)

sum?
low?
high?

8. Write a program using while loop that prompts the user for numbers until
the user types 0, then outputs their sum.